html {
    scroll-behavior: smooth;
}

.btn-nav {
    transition: text-decoration 0.5s;
    font-size: 16px;
}

.btn-active, .btn-nav:hover {
    text-decoration: underline;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Trebuchet MS", Verdana, "Times New Roman", serif;
    margin: 0;
    padding: 0;
}

main {
    flex: 1 0 auto;
}

footer {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.card-border{
    border: 1px solid teal;
    border-radius: 5px;
    padding: 15px;
}

.judul-halaman{
    margin-top: 25px;
    margin-bottom: 20px;
}

.tabs .tab a{
    color: teal;
}

.tabs .tab a:hover {
    background-color:#eee;
    color:#000;
}

.tabs .tab a.active {
    color: teal;
}

.tabs .indicator {
    background-color:#000;
}

#goTop {
    display: none; 
    position: fixed; 
    bottom: 83px; 
    right: 23px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: teal; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 50%; 
    font-size: 20px;
    opacity: 1;
}
  
#goTop:hover {
    background-color: #555; 
}

#box-mbutton {
    position: absolute;
    right: 0;
    margin-right: 10px;
    overflow: auto;
}

#box-nav-m:hover {
    cursor: pointer;
}

.rekaplulus {
    padding: 10px;
}

.boxlulus:hover {  
    box-shadow: 0 0 2px 3px salmon;
    cursor: pointer;
}

.hrdiv {
    display: none
}

#boxprofil {
    margin-top: 30px;
    margin-bottom: 20px;
}

@media screen and (max-width: 400px) {
    #fotosambutan, #logoikasada {
        display: none;
    }

    .hrdiv{
        border: 1px dashed grey;
        display: block;
        width: 90%;
    }
}
