<div class="modal-content center">
        
    <h4 class="teal-text text-lighten-1"><strong><i class="material-icons">vpn_key</i> Login</strong></h4>
    <form class="login-form">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock_outline</i>
          <input id="password" type="password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row" style="margin-left: 15px;">
        <div class="input-field col s12">
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Remember Me</span>
          </label>
        </div>
        <div class="col s12" style="margin-top: 40px;">
          <a href="#" class="teal lighten-1 btn waves-effect waves-light col s12">Login</a>
        </div>
        <div class="row">
          <div class="col s6">
            <p class="left-align medium-small">
              <a href="#" class="teal-text text-lighten-1">Register Now!</a>
            </p>
          </div>
          <div class="col s6">
              <p class="right-align medium-small">
                <a href="#" class="teal-text text-lighten-1">Forgot password?</a>
              </p>
          </div>
        </div>
      </div>
    </form>

</div>